.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: table;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    .loader-icon {
        display: table-cell;
        vertical-align: middle;
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            box-sizing: border-box;
            content: '';
            background: 0 0;
            border: 4px solid #edf1f2;
            border-bottom-color: transparent;
            border-radius: 100%;
            opacity: 1;
            transform: translate3d(-50%, -50%, 0);
            animation: .7s rotate linear infinite;
        }
    }
}