slider{
	display: table;
	width: 100%;
}

.slider{
	overflow: hidden;
	max-height: 290px;
	transition: max-height 1s;
	h3{
		margin-bottom: 20px;
	}
    .slider-items{
    	display: table;
    	width: 100%;
    }
}

.view-all{
	margin-top: 10px;
	margin-bottom: 10px;
	.view-all-icon{
		width: 100%;
		text-align: center;
		cursor: pointer;
	}
}